@media (max-width: 35em) {
  .main-container {
    grid-template-columns: 1fr;
    margin: 2rem;
    max-width: 32rem;
  }

  .images-container {
    height: 10rem;
    position: relative;
  }

  .image__box {
    height: 9rem;
    width: auto;

    position: absolute;
    left: 25%;
    top: 25%;
    transform: translate(-50%, -70%);
  }

  .images__no-overflow {
    width: 100%;

    position: absolute;
    overflow: visible;
  }

  .image__woman {
    height: 18rem;
    width: auto;
    margin-left: 0;

    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%, -60%);
  }

  .image__bg {
    height: 23rem;
    width: auto;

    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%, -55%);
  }

  /* ///////////////////////accordion //////////////////////////*/
  .accordion-box {
    margin: 4rem 2rem;
  }

  h3 {
    text-align: center;
  }
}
